<div class="contain-to-grid fixed">
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name"><h1><%= link_to "Moldy Mandrakes", courses_path %></h1></li>
      <li class="has-form">
        <div class="row collapse">
          <div class="large-8 small-9 columns">
            <%= form_tag courses_path, method: "get" do %>
              <%= render partial: 'search' %>
            <% end %>
          </div>
        </div>
      </li>
    </ul>
  </nav>
</div>

<div class="row">
  <div class="medium-12 columns">
    <h1 >Moldy Mandrakes</h1>
    <%= form_tag courses_path, method: "get" do %>
      <%= render partial: 'search' %>
    <% end %>
    <div><%= link_to "Submit a course!", new_course_path, class: 'button round' %></div>
      <div class="row">
        <hr>
          <% @courses.each do |course| %>
            <%= render partial: 'course', object: course%>
          <% end %>
        <hr>
        </div>
      </div>
  </div>
</div>
